main {
    min-height: 80vh;
    margin-top: 5.7rem;
}

.main-bg {
    background-color: rgba(211, 225, 229, 0.204);
}

.bg {
    background-color: black;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.footer {
    min-height: 20rem;
}

.card {
    /* border: .0001px solid lightgray; */
    border: none;
}

.card:hover {
    border: none;
    -webkit-box-shadow: 4px 3px 5px 0px lightgray;
    -moz-box-shadow: 4px 3px 5px 0px lightgray;
    box-shadow: 4px 3px 5px 0px lightgray;
}

.blue-bg {
    background-color: blue;
}